<% include ./partials/header.ejs%>
<!-- <a class="btn btn-primary" href="/actors/new">Add Actor +</a> -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Sex</th>
                <th scope="col">D</th>
                <th scope="col">O</th>
                <th scope="col">B</th>
                <th scope="col">Movie(s)</th>
                <th scope="col">Bio</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
                 <% actorData.forEach(data=>{%>
                    <tr>
                    <td><%=data.Name%></td>
                    <td><%=data.Sex%></td>
                    <td colspan="3"><%=data.DOB.toDateString()%></td>
                    <td><%data.movies.forEach(movieName=>{%>
                        <%=movieName.name%>
                    <%});%></td>
                    <td><%=data.Bio%></td>
                    <td>
                        <a class="btn btn-warning" href="/actors/<%=data._id%>/edit">Edit</a>
                    </td>
                    <td>
                        <form action="/actors/<%=data._id%>/delete?_method=DELETE" method="POST">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>                        
                <%})%>
        </tbody>
    </table>

<% include ./partials/footer.ejs%>