<% include ./partials/header.ejs%>
    <div class="row font-weight-bold">
       <div class="col-lg-2">
            Name
       </div>
       <div class="col-lg-2">
            Sex
       </div>
       <div class="col-lg-2">
            DOB
       </div>
       <div class="col-lg-4">
            Bio
       </div>
       <div class="col-lg-2">
            Movie(s)
       </div> 
    </div>
    <hr>
    <div class="row">
            <% actorData.forEach(data=>{%>
                <div class="col-lg-2">
                    <%=data.Name%>
                </div>
                <div class="col-lg-2">
                    <%=data.Sex%>
                </div>
                <div class="col-lg-2">
                    <%=data.DOB.toDateString()%>
                </div>
                <div class="col-lg-4">
                    <%=data.Bio%>
                </div>
                <div class="col-lg-2">
                    <%data.movies.forEach(movieName=>{%>
                        <%=movieName.name%>
                    <%});%>
                </div>
            <%})%>
        </div>
<% include ./partials/footer.ejs%>