<%include ./partials/header.ejs%>
<a class="btn btn-success m-1 float-right"href="/movies/new">Add Movie +</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Poster</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Year of Release</th>
      <th scope="col">Plot</th>
      <th scope="col">Cast</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <%movieData.forEach((movie)=>{%>
      <tr>
        <td>
          <img class="img img-fluid" src="<%=movie.poster%>" alt="<%=movie.name%> poster" width="256px" height="256px">
        </td>
        <td><%=movie.name%></td>
        <td><%=movie.yearOfRelease%></td>
        <td><%=movie.plot%></td>
        <td><%movie.actors.forEach(actorName=>{%>
          <%=actorName.Name%>
          <hr>
        <%})%></td>
        <td><a class="btn btn-warning" href="movies/<%=movie._id%>/edit?method=PUT">Edit</a></td>
        <td>
        <form action="/movies/<%=movie._id%>?_method=DELETE" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        </td>
      </tr>
    <%});%>
  </tbody>
</table>

<%include ./partials/footer.ejs%>
