<% include ./partials/header.ejs%>
<h1>Add New Movie</h1>
<form class="needs-validation" action="/movies/<%=movieData._id%>?_method=PUT" method="POST" autocomplete="off" novalidate>
  <div class="form-group row">
    <label for="movieName" class="col-sm-2 col-form-label">Movie Name</label>
    <div class="col-sm-10">
      <input name="movieName" type="text" class="form-control" value="<%=movieData.name%>" required>
      <div class="invalid-feedback">
          A movie without movie name! Not possible bro
        </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="yearOfRelease" class="col-sm-2 col-form-label">Year of Release</label>
    <div class="col-sm-10">
      <input name="yearOfRelease" type="number" class="form-control" value="<%=movieData.yearOfRelease%>" max="9999" min="1111">
      <div class="invalid-feedback">
          Woah! What sort of movie it is that has not been released yet!
        </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="plot" class="col-sm-2 col-form-label">Plot</label>
    <div class="col-sm-10">
      <textarea name="plot" type="number" class="form-control" rows="5" required><%=movieData.plot%></textarea>
      <div class="invalid-feedback">
          Movie without plot! Really bro .. really!
        </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="poster" class="col-sm-2 col-form-label">Poster</label>
    <div class="col-sm-10">
        <div class="input-group mb-3">
            <input name="poster" type="hidden" role="uploadcare-uploader" data-image-shrink="512x512" value="<%=movieData.poster%>"/>    
        </div>
      </div>
  </div>
  <div class="form-group row">
      <label for="cast" class="col-sm-2 col-form-label">Cast</label>
      <div class="col-sm-8">
          <select name="cast" id='select' multiple="multiple" autocomplete="false" required>

            <%movieData.actors.forEach((selectedActor)=>{%>
               <option selected value='<%=selectedActor._id%>'><%=selectedActor.Name%></option>
            <%})%>
            <%for(let i = 0; i < actorData.length; i++){%>
              <%for(let j = 0; j < movieData.actors.length; j++){%>
                <%if(movieData.actors[j]._id.toString() === actorData[i]._id.toString()){%>
                  <%i++;%>
                <%}%>
              <%}%>
              <option value='<%=actorData[i]._id%>'><%=actorData[i].Name%></option>
            <%}%>
            <div class="invalid-feedback">
                Is it no actors or no body did the acting!
              </div>
            </select>
      </div>
      <div class="col-sm-2">
        <a class="btn btn-success" href="/actors/new">Add Actor+</a>
      </div>
  </div>



  <div class="form-group row">
    <div class="col-lg-6 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
    <div class="col-lg-6 d-flex justify-content-start">
        <a class="btn btn-danger " href="/movies">Cancel</a>
    </div>
  </div>
</form>
<%include ./partials/footer.ejs%>
